<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hallo1.flutter_qnn_lib">
    <application>
    <!-- 我服了，ai也不知道要加这个，查了半天。 https://developer.android.com/guide/topics/manifest/uses-native-library-element -->
        <uses-native-library
            android:name="libadsprpc.so"
            android:required="false" />
        <uses-native-library
            android:name="libcdsprpc.so"
            android:required="false" />
        <uses-native-library
            android:name="libsdsprpc.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />
    </application>
</manifest>